<div class="row">
  <div class="col s12 m3">
    <div class="collection">
       <%= display_all_category_link(active_category) %>
       <% @categories.each do |category| %>
         <%= display_category_link(category, active_category) %>
       <% end %>
    </div>
  </div>
