<h3 id="order-for">Order History</h3>

<table class="highlight">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Cost</th>
    </tr>
    <% @orders.each do |order|%>
    <tr>
      
      <td><%= order.item.title %></td>
      <td><%= order.quantity %></td>
      <td><%= ((order.quantity) * (order.item.price)).round(2) %></td>
    </tr>
  <% end %>
</table>
