<h4 class="order-for">Your Orders</h4>

<table class="highlight">
    <tr>
      <th>Order ID</th>
      <th>Created at</th>
      <th>Items</th>
      <th>Total</th>
    </tr>
    <% @orders.each do |order|%>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.created_time %></td>
      <td><%= order.quantity %></td>
      <td><%= order.total %></td>
    </tr>
  <% end %>
</table>
