<h4 class="order-for">Your Orders</h4>

<table class="highlight">
    <tr>
      <th>Order</th>
      <th>Items</th>
      <th>Total</th>
    </tr>
    <% @orders.each do |order|%>
    <tr>
      <td><%= order.item.title %></td>
      <td><%= order.quantity %></td>
      <td><%= order.total %></td>
    </tr>
  <% end %>
</table>
