<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @items.each do |item| %>
    <%= link_to "Your Files", item.avatar.url %>
    <% end %>
    <!-- <p>
      Your Files
    </p> -->
  </body>
</html>
