<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <h3>Thank You for Your Purchase!</h3>
    <h3>Here Are links to your items:</h3>
    <p>
      <% @items.each do |item|  %>
      <%= link_to item.title, item.file.url %><br/>
      <% end %>
    </p>
    <h2>Have a great day!</h2>
    <h2>Your order id: <%= @order.id %></h2>
  </body>
</html>
