<h5>Create a new Category</h5>
<%= form_for([:admin, @category]) do |f| %>
  <div class="input-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Create Category", class: "waves-effect waves-light btn" %>
<% end %>
