<nav>
  <div class="nav-wrapper">
    <div class="bar">
      <a href="/items" class="brand-logo">Digital Destination</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to_dashboard %></li>
        <li><%= link_to_login_or_logout %></li>
        <li><a href="/cart"><i class="large material-icons left">shopping_cart</i><%= cart_contents %></a></li>
      </ul>
    </div>
  </div>
</nav>
